 <div class="login-app-name d-flex flex-column align-items-center justify-content-center">
    <div class="login-btn my-5">
        <%=link_to 'Sign In', login_path,class:'btn btn-outline-primary login-btn text-dark', method: :get %>
    </div>
    <div class="new-user-btn">
        <%=link_to 'Sign Up', new_user_path,class:'btn btn-outline-primary new-user-btn text-dark', method: :get %>
    </div>
      
  </div>
