  <div class="mt-3">

    <nav class="navbar navbar-dark py-2" style="background-color: #3470B6;">
      <h4 class="logo-text text-white h5 font-italic"> <%= link_to "Home", root_path %> </h4>
      <h4 class="logo-text text-white h5 font-italic"> <%= link_to "Sign Out", logout_path %> </h4>
    </nav>
    
  </div>