  <div class="">

    <nav class="navbar navbar-dark py-2" style="background-color: #3470B6;">
      <h4 class="text-white h5 font-italic"> Home </h4>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <h4 class="text-white h5 font-italic"> Sign Out</h4>
  </div>