<h1 class="my-3 text-center create-new">New Group</h1>

<div class =  "d-flex flex-column align-items-center justify-items-center">
<%= render 'form', group: @group %>
</div>

<%= link_to 'Back', groups_path, class:'btn btn-outline-primary d-inline new-user-btn text-dark ml-5' %>
