<h1 class="my-5 text-center create-new">New User</h1>

<%= render 'form', user: @user %>
<div class =  "d-flex flex-column align-items-center">
<%= link_to 'Back', users_path, class:'btn btn-outline-primary new-user-btn text-dark' %>
</div>
