<h1 class="my-3 text-center create-new">New Expenditure</h1>

<div class = "d-flex flex-column align-items-center">
<%= render 'form', expenditure: @expenditure, class:'btn btn-outline-primary new-user-btn text-dark' %>
</div>
<%= link_to 'Back', expenditures_path, class:'btn btn-outline-primary new-user-btn text-dark mx-5' %>